*{
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.left{
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

.left i{
    margin-left: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.imgclick img{
    width: 40px;
    height: 40px;
}
.imgclick{
    justify-content: left;
    display: flex;
}

.menu-icon{
    cursor: pointer;
    display: none;
}

.logo img{
    width: 140px;
    padding-bottom: 25px;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.sidenav {
    height: 96vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    border-radius: 30px;
    top: 10px;
    left: 10px;
    margin-bottom: 10px;
}

#links a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: block;
}

#links a:hover {
    color: #121212;
    font-weight: 600;
    background-color: #77c144;
    border-radius: 5px;
}

.box2{
    padding: 10px;
    margin-left: 10px;
}

/*MAIN SIDES,...................................*/


.imghere{
    margin-top: 80px;
}

.settings{
    display: flex;
    justify-content: right;
}

.settingsicons i{
    padding-left: 10px;
    font-size: 20px;
}

.welcome{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.welcome p{
    font-size: smaller;
    letter-spacing: 9px;
}
.hello{
    font-size: 30px;
}

.bold-text {
    font-weight: bold;
}

.thin-text {
    font-weight: lighter;
}
.imghere{
    display: flex;
    justify-content: right;
    opacity: 50%;
}
.imghere img{
    width: 140px;
}

.contents{
    margin-left: 275px;
}

.bottombox{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    margin-bottom: 14.5px;
    background-color: #f7f7f7;
    width: 30px;
    width: 78.5vw;
    height: 340px;
    border-radius: 30px;
    z-index: -1;
    align-items: center;
}

.pname{
    font-size: 50px;
}

#details{
    font-size: 25px;
}

.status{
    letter-spacing: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/*For Status,..............................*/

.containerr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.percentage-line {
    height: 10px;
    margin-top: 10px;
    width: 100%;
    background-color: lightgrey;
    border-radius: 40px;
    overflow: hidden;
}

.green-fill {
    height: 100%;
    background-color: green;
    width: 0;
    transition: width 0.3s ease-in-out;
    border-radius: 40px;
}

.per {
    background-color: black;
    color: aliceblue;
    height: 45px;
    width: 270px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.hide{
    display: none;
}


.pr{
    font-size: 24px;
    padding: 20px;
    margin-top: 55px;
    flex-direction: column;
    align-items: center;
}

.rep{
    letter-spacing: 15px;
}

.acc{
    margin-left: 55px;
}

/*MEDIA CHANGE IN RELATION TO SIZE,..............................*/

@media (max-width: 720px) {
    .sidenav {
        display: none; /* Hide the side navigation */
        height: 100%;
        border-radius: 0 20px 20px 0;
        top: 0;
        left: 0;
    }

    .imgclick {
        display: flex;
    }

    .menu-icon {
        display: block; /* Show the menu icon */
    }

    .box2 {
        margin-left: 0;
    }
    #list{
        overflow: hidden;
        transition: 0.6s;
    }
    nav ul{
        width: 100%;
        position: absolute;
        top: 135px;
        right: 0;
        z-index: 2;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }
    nav ul li{
        display: block;
        margin-top: 8px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: rgb(255, 255, 255);
    }

    .contents{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .bottombox{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        margin-bottom: 14.5px;
        background-color: #f7f7f7;
        width: 30px;
        width: 100%;
        height: 270px;
        border-radius: 60px;
        z-index: -1;
    }
    
    .pname{
        font-size: 40px;
    }

    .status{
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .percentage-line {
        width: 100px; /* Set the width of the circle */
        height: 100px; /* Set the height of the circle */
        background-color: lightgrey;
        border-radius: 50%; /* Make it a circle */
        overflow: hidden;
        margin-bottom: 0px;
    }
    
    .green-fill {
        height: 100%;
        background-color: green;
        width: 0;
        transition: width 0.3s ease-in-out;
        border-radius: 20%; /* Make the fill circle-shaped */
    }
}